<h2>Returning User Login</h2>

<form action="/sessions/new" method="POST">
	<input type="text" name="email" placeholder="Email">
	<input type="password" name="password" placeholder="Password">
	<input type="submit" value="Login">
</form>
<br>
<ul>
	<% if @errors %>
	<% @errors.each do |error| %>
	<li><%= error %></li>
	<% end %>
<% end %>
</ul>



