#welcome-page {
	font-family: futura;
	font-size: 25px;
}

body {
	background-image: url("/images/food.jpg");
    background-size: cover;
    font-family: futura;
	font-size: 25px;
	text-align: center;
}


button {
	border-radius: 4px;
}