/*#logout-button {
	 float: right;

}*/

#welcome-page {
	text-align: center;
	font-family: monaco;
	font-size: 25px;
}

body {
	background-image: url("/images/food.jpg");
    background-size: cover;
}


button {
	border-radius: 4px;
}