<h1>Welcome, <%= @user.first_name.capitalize %>!</h1>



<h2>Please enter your ingredient here:</h2>


<form action='/recipes' method="POST">
	<input type='text' name='ingredient' placeholder='Ingredient'>
	<input type='submit' value="Get me a recipe!">
</form>
<br>
<br>
<h2>Saved recipe/s:</h2>
<ul>
	<% if @saved_recipes %>
	<% @saved_recipes.each do |saved_recipe| %>
	<li><%= saved_recipe %></li>
	<% end %>
<% end %>
</ul>
<br>
<br>
<form action='/sessions/<%= @user.id %>' method="POST" id="logout-button">
	<input type='hidden' name='_method' value="DELETE">
	<button type='submit'>Logout</button>
</form>

