<div id="welcome-page"><h1>Welcome to LetsEat!</h1>
	<h2>Where ingredients become recipes..</h2>
	<div class="login-links">
		<a class="login-show-link" href="/sessions/new">Login</a>
		<br>
		<a class="sign-up-form" href="/users/new" >Sign Up</a>
	</div>
</div>

